In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

**Q1. Write a code to print the data present in the second row of the dataframe, df.**

In [3]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

**Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?**

A2.

In Pandas, loc and iloc are used for selecting data from a DataFrame, but they differ in the way they handle indexing:

**loc**
- Label-based Indexing: loc is used for label-based indexing, meaning it uses the labels of the rows and columns to select data.
- Syntax: df.loc[row_labels, column_labels]
- Includes Endpoints: When slicing, loc includes both the start and end labels in the result.
- Can Handle Non-integer Indexes: It works with index labels that are not integers (e.g., strings).

**iloc**
- Integer-based Indexing: iloc is used for integer-based indexing, meaning it uses integer positions to select data.
- Syntax: df.iloc[row_positions, column_positions]
- Does Not Include Endpoints: When slicing, iloc does not include the end position in the result (exclusive end).
- Always Uses Integers: It only works with integer-based positions (i.e., numeric indices).

**Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].**

**Did you observe any difference in both the outputs? If so then explain it.**

In [4]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

- new_df.loc[2]: Refers to the row with the index label 2 in the reindexed DataFrame, which corresponds to the original row 2 after reindexing.
- new_df.iloc[2]: Refers to the row at the integer position 2 in the DataFrame after reindexing, which is now the third row.

In [7]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.143599  0.598389  0.383378  0.879350  0.038712  0.321100
2  0.692928  0.352517  0.699275  0.946435  0.764946  0.062696
3  0.654890  0.078778  0.239615  0.564442  0.132781  0.913147
4  0.454120  0.171621  0.996116  0.373716  0.097268  0.852923
5  0.276614  0.356282  0.707219  0.023409  0.107580  0.445035
6  0.552350  0.383516  0.566153  0.007419  0.328424  0.387979

**Q4. Write a code to find the following statistical measurements for the above dataframe df1:**  
**(i) mean of each and every column present in the dataframe.**  
**(ii) standard deviation of column, ‘column_2’**

In [9]:
df1.mean()

column_1    0.462417
column_2    0.323517
column_3    0.598626
column_4    0.465795
column_5    0.244952
column_6    0.497147
dtype: float64

In [10]:
df1['column_2'].std()

np.float64(0.1811289755426855)

**Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.**

In [11]:
df1.loc[2, 'column_2'] = 'Text'

C:\Users\7_Seven\AppData\Local\Temp\ipykernel_5284\1577746547.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Text' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = 'Text'

In [12]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

**We are getting errors because the data type is object instead of float or integer. Mean is calculated for numeric data, calculating it for non-numeric data results in error.**

**Q6. What do you understand about the windows function in pandas and list the types of windows
functions?**

A6.

In Pandas, window functions (also known as rolling or moving functions) are used to perform operations over a sliding window of data. They are useful for analyzing trends and patterns in time-series or sequential data by applying functions across a specified window of values.

Window functions in Pandas allow you to apply a function (like a sum, mean, or custom function) over a specified window of data points. The window can be defined in various ways, such as by specifying the number of observations to include (rolling window) or by specifying a time-based window.

Types of Window Functions:

- Rolling Window Functions:  
rolling(): Creates a rolling window object that allows you to apply functions like mean, sum, and more over a moving window.

- Expanding Window Functions:  
expanding(): Creates an expanding window object that allows you to apply functions over all data points up to the current point.

- Exponentially Weighted Window Functions:  
ewm(): Creates an exponentially weighted window object that applies functions with exponentially decreasing weights.

**Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]**

In [13]:
current_time = pd.Timestamp.now()

In [14]:
current_time.month_name()

'September'

In [15]:
current_time.year

2024

**Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.**

In [16]:
dt_1 = input("Enter the first date (YYYY-MM-DD): ")
dt_2 = input("Enter the second date (YYYY-MM-DD): ")

dt_1_ts = pd.Timestamp(dt_1)
dt_2_ts = pd.Timestamp(dt_2)

delta= pd.Timedelta((dt_2_ts-dt_1_ts))

days = delta.days
hours = delta.components.hours
minutes = delta.components.minutes

print(f'Days: {days}')
print(f'Hours: {hours}')
print(f'Minutes: {minutes}')

Enter the first date (YYYY-MM-DD):  2024-09-16
Enter the second date (YYYY-MM-DD):  2024-12-30

Days: 105
Hours: 0
Minutes: 0

**Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.**

In [20]:
def convert_cat():
    file_path = input('Please enter file path:')
    col_name = input('Please enter column name:')
    cat_order = input('Please enter the catrgory order separated by commas:').split(',')
    
    df = pd.read_csv(file_path)
    
    df[col_name] = pd.Categorical(col_name, categories= cat_order, ordered= True)
    
    sorted_df = df.sort_values(by= col_name)
    
    return sorted_df

**Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.**

In [19]:
def plot_sales_data():
    file_path = input("Enter the file path of the CSV file: ")

    df = pd.read_csv(file_path)
    
    df['Date'] = pd.to_datetime(df['Date'])
    
    pivot_df = df.pivot_table(index='Date', columns='Product', values='Sales', aggfunc='sum', fill_value=0)
    
    ax = pivot_df.plot(kind='bar', stacked=True, figsize=(12, 8))
    plt.title('Sales of Each Product Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.legend(title='Product')
    plt.xticks(rotation=45)
    plt.tight_layout() 
    
    plt.show()

**Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.**

In [22]:
def calc_stats():
    file_path = input('Please enter the file path:')

    df = pd.read_csv(file_path)

    mean = df['test score'].mean()
    median = df['test score'].median()
    mode = df['test score'].mode()

    df_stats = pd.DataFrame({
        'Statistic' : ['Mean', 'Median', 'Mode'],
        'Values' : [mean, median, mode]
    })

    return df_stats